{% extends 'base.html' %}

{% load static %}


{% block content %}
<div class="row">
    <!-- cart -->
    <div class="col-lg-9">
    {% for item in cart_items %}
    <div class="card border shadow-0">
        <div class="m-4">
            <h4 class="card-title mb-4">Your shopping cart</h4>
            <div class="row gy-3 mb-4">
                <div class="col-lg-5">
                    <div class="me-lg-5">
                    <div class="d-flex">
                        <img src="/media/{{item.product.images.first.image}}" class="border rounded me-3" style="width: 96px; height: 96px;">
                        <div class="">
                            <a href="#" class="nav-link">{{item.product.product_name}}</a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
                    <div class="">
                        {% comment %} <select style="width: 100px;" class="form-select me-4">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select> {% endcomment %}
                    </div>
                    <div class="">
                        <text class="h6">Rs {{item.product.price}}</text> <br>
                </div>
                <span><div class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2"></span>
                    <div class="float-md-end">
                        <a href="#!" class="btn btn-light border px-2 icon-hover-primary"><i class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                        <a href="" class="btn btn-light border text-danger icon-hover-danger"> {{item.product.delete}}Remove</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    <!-- cart -->
    <!-- summary -->
    <div class="col-lg-3">
        <div class="card mb-3 border shadow-0">
            <div class="card-body">
            <form>
                <div class="form-group">
                    <label class="form-label">Have coupon?</label>
                    <div class="input-group">
                        <input type="text" class="form-control border" name="" placeholder="Coupon code">
                        <button class="btn btn-light border">Apply</button>
                     </div>
                </div>
            </form>
            </div>
        </div>
        <div class="card shadow-0 border">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <p class="mb-2">Total price:</p>
                    <p class="mb-2">Rs {{total_price}}</p>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="mb-2">Discount:</p>
                    <p class="mb-2 text-success">Rs {{discount}}</p>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="mb-2">TAX:</p>
                    <p class="mb-2">Rs {{tax}}</p>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <p class="mb-2">Total price:</p>
                    <p class="mb-2 fw-bold">{{total_price_after_discount_and_tax}}</p>
                </div>

                <div class="mt-3">
                    <a href="#" class="btn btn-success w-100 shadow-0 mb-2"> Make Purchase </a>
                    <a href="#" class="btn btn-light w-100 border mt-2"> Back to shop </a>
                </div>
            </div>
        </div>
    </div>
    <!-- summary -->
</div>

{% endblock content %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var decreaseButton = document.querySelector('.decrease-quantity');
        var increaseButton = document.querySelector('.increase-quantity');
        var selectElement = document.querySelector('.quantity-select');

        decreaseButton.addEventListener('click', function() {
            var selectedIndex = selectElement.selectedIndex;
            if (selectedIndex > 0) {
                selectElement.selectedIndex = selectedIndex - 1;
            }
        });

        increaseButton.addEventListener('click', function() {
            var selectedIndex = selectElement.selectedIndex;
            if (selectedIndex < selectElement.options.length - 1) {
                selectElement.selectedIndex = selectedIndex + 1;
            }
        });
    });
</script>